/*
__________________
Imports and Variables
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

:root {
	--lt-green: #D1FED8;
	--green: #94ED99;
	--dk-green: #2FDB4B;

	--hvy-shadow: 0 0 5px rgba(0, 0, 0, .7);
	--shadow: 0 0 5px rgba(0, 0, 0, .4);
	--lt-shadow: 0 0 4px rgba(0, 0, 0, .2);
	--highlight: 0 0 5px var(--boxBackground);
}

/*
__________________
Default styles
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

* {
	box-sizing: border-box;
	font-family: 'Antic', sans-serif;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 10px;
	background-color: var(--lt-green);
}

main {
	padding: 1rem;
	align-items: flex-start;
	position: relative;
	min-height: 100vh;
	padding-bottom: 3rem;
}

h1 {
	font-size: 6em;
}

h2 {
	font-size: 3.8em;
}

h3 {
	font-size: 3em;
	margin-bottom: .5rem;
}

h4 {
	font-size: 2em;
}

dt {
	font-size: 1.8em;
	margin-bottom: .2rem;
}

a {
	color: black;
	text-decoration: none;
}

p, li, dd, input, textarea {
	font-size: 1.6em;
}

dd {
	margin-left: 1rem;
}

label {
	display: block;
	font-size: 1.8em;
}

input, textarea {
	background-color: rgba(255,255,255,.7);
	padding: .5rem .3rem;
}

button {
	background-color: var(--dk-green);
	font-size: 1.6em;
	padding: .4rem;
	border-radius: .5rem;
	box-shadow: var(--lt-shadow);
	border: 1px solid black;
	font-weight: bold;
}

button:hover {
	box-shadow: var(--shadow);
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	margin: -1px !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.grecaptcha-badge {
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}

/*
__________________
Shared styles
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

#logout-wrapper {
	display: grid;
	background-color: var(--lt-green);
}

#logout {
	justify-self: flex-end;
	position: relative;
	width: fit-content;
	padding: .5rem 0;
}

#logout button {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	transition: all .2s;
	z-index: -1;
	opacity: 0;
}

#logout button.isExpanded {
	top: 3rem;
	z-index: 0;
	opacity: 1;
}

.back-link {
	font-size: .9rem;
	text-decoration: none;
}

.back-link:hover, .back-link:focus {
	font-weight: bold;
}

.back-link::before {
	content: '<';
	margin-right: .2rem;
}

footer {
	width: 100%;
	padding: 1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
}

/*
__________________
All Releases
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

#all-releases {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
}

#release-thumbnails {
	display: grid;
	gap: 1rem;
	margin-top: 2rem;
}

#release-thumbnails article {
	display: grid;
	padding: 1rem;
	background-color: var(--green);
	border: 1px solid black;
	box-shadow: var(--lt-shadow);
}

.metadata {
	font-size: .8rem;
}

/*
__________________
Create a Release
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

#create-release section {
	display: grid;
	padding: 1rem 0;
}

#create-release h3 {
	margin-bottom: 1rem;
}

#create-release label {
	margin-bottom: .2rem;
}

#create-release input {
	margin-bottom: 1rem;
}

#create-release textarea {
	height: 10rem;
}

#create-release ul {
	margin-bottom: 1rem;
}

/*
__________________
Single Release
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

#release-header {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	gap: 1rem;
	margin-bottom: 3rem;
}

#release-header .back-link {
	grid-column: span 2;
}

#release-general-info h3 {
	margin-top: 1rem;
}

#release-general-info p, #release-general-info ul  {
	margin-bottom: .5rem;
}

#release-general-info ul {
	list-style-type: none;
	padding: 0;
}

#release-signatures {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
	margin-top: 3rem;
}

#release-signatures h3 {
	margin: 0;
}

#release-signatures article {
	display: grid;
	gap: 1rem;
	padding: 1rem;
	grid-column: span 2;
	background-color: var(--green);
	border: 1px solid black;
	box-shadow: var(--lt-shadow);
}

#release-signatures article ul {
	list-style-type: none;
	padding: 0;
}

#release-signatures .signature-request {
	display: grid;
	gap: .5rem;
}

#no-signatures {
	grid-column: span 2;
}

/*
__________________
Request Signatures
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

#request-new-signature section {
	display: grid;
	padding: 1rem 0;
}

#request-new-signature h3 {
	margin-bottom: 1rem;
}

#request-new-signature .signer-info-row {
	display: grid;
	margin: 1rem 0;
}

#request-new-signature .input-wrapper {
	display: grid;
	max-width: 300px;
}

#request-new-signature label {
	margin-bottom: .2rem;
}

#request-new-signature input {
	margin-bottom: 1rem;
}

#request-new-signature textarea {
	height: 10rem;
}

#request-new-signature button {
	width: fit-content;
}


/*
__________________
Media queries
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
*/

@media screen and (min-width: 500px) {

}

@media screen and (min-width: 768px) {

}
  
@media screen and (min-width: 1040px) {

}

@media screen and (min-width: 1440px) {

}